version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./chroma_db:/app/chroma_db
      - ./app:/app/app
    environment:
      - DEBUG=True
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
